<%= form_for @party, html: {class: "form-inline"} do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", value: random_party_name %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
