<% unless songs.any? %>
<li class="list-group-item list-group-item-info">Looks like your playlist is empty. Add a song below!</li>
<% end %>
<% songs.each do |s| %>
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="<%= s.album_art %>" width="64" class="img img-responsive">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= s.title %></h4>
        <%= s.artist %> <br>
        <%= s.album %>
      </div>
      <h4 class="media-body float-right">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <% if current_user.dj?(@party) %>
        <%= link_to '', s, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-remove" %>
        <!-- <span class="glyphicon glyphicon-remove"><%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></span> -->
        <% end %>
      </h4>
    </div>
  </li>
<% end %>
