<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @party.name %>
      <% if current_user.dj? @party %>
        <small><%= link_to '', edit_party_path(@party), :class => "glyphicon glyphicon-pencil", 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Rename Party' %></small>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Now Playing:
          <%if @party.current_song.nil? %>
            Silence.
          <% else %>
            <strong><%= @party.current_song.title %></strong> by
            <%= @party.current_song.artist %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <% unless @party.current_song.nil? %>
        <div class="col-md-12 col-sm-4 col-xs-12">
          <img src="<%= @party.current_song.album_art %>" class="img img-responsive">
          <% if current_user.dj? @party %>
            <% if @party.current_song.source == 'Spotify' %>
              <iframe id="spotify-player" src="https://embed.spotify.com/?uri=<%= @party.current_song.uri %>&theme=white" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe></br>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-12 col-sm-8 col-ms-12">
          <span class="lead"><%= @party.current_song.title %></span> <br>
          <strong>Artist: </strong> <%= @party.current_song.artist %> <br>
          <strong>Album: </strong> <%= @party.current_song.album %> <br>
          <i class="small">Via <%= @party.current_song.source %></i> <br>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Playlist</h3>
      </div>

      <ul class="list-group">
        <%= render partial: "playlist", locals: {songs: @party.songs} %>
        <li class="list-group-item">
          <%= render 'songs/form' %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-3 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Listeners</h3>
      </div>
      <ul id="user-list" class="list-group">
        <% @party.users.each do |user| %>
          <li class="list-group-item" id="<%= "user-list-" + user.nickname.tr(' ', '-') %>">
            <% user = User.find(user.id) %>
            <%= user.nickname %>
            <% if user.dj?(@party) %>
              <span class="glyphicon glyphicon-cd" data-toggle="tooltip" data-placement="right" title="<%= user.nickname %> is the DJ"></span>
            <% end %>
            <% if user.id.equal? current_user.id %>
              <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="right" title="This is you!"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
