<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Current song:</strong>
  <%= @party.current_song_id %>
</p>

<%= link_to 'Back', parties_path %>

<div class="row">
  <h1>
    <%= @party.name %>
    <% if current_user.dj?(@party) %>
      <%= link_to '', edit_party_path(@party), :class => "glyphicon glyphicon-pencil" %>
    <% end %>
  </h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Now Playing: Title will go here eventually</h3>
      </div>
      <div class="panel-body">
        <img src="https://placehold.it/500x500" class="img img-responsive">
        <i>Via Spotify</i> <br>
        <strong>Song: </strong> Foobar <br>
        <strong>Artist: </strong> Foobar <br>
        <strong>Album: </strong> Foobar <br>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Playlist</h3>
      </div>

      <ul class="list-group">
        <%= render partial: "playlist", locals: {songs: @party.songs} %>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">
          <%= render 'songs/form' %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Listeners</h3>
      </div>

      <ul class="list-group">
        <% @party.users.each do |user| %>
          <li class="list-group-item">
            <% user = User.find(user.id) %>
            <%= user.nickname %>
            <% if user.dj?(@party) %>
              <span class="glyphicon glyphicon-cd" data-toggle="tooltip" data-placement="top" title="<%= user.nickname %> is the DJ"></span>
            <% end %>

          </li>
        <% end %>
        <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li> -->
      </ul>
    </div>
  </div>
</div>
