<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @party.name %>
      <% if current_user.dj? @party %>
        <small><%= link_to '', edit_party_path(@party), :class => "glyphicon glyphicon-pencil", 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Rename Party' %></small>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Now Playing:
          <%if @party.current_song.nil? %>
            Silence.
          <% else %>
            <strong><%= @party.current_song.title %></strong> by
            <%= @party.current_song.artist %>
          <% end %>
        </h3>
      </div>
      <div id="player-panel" class="panel-body player-panel">
        <% if @party.current_song.nil?  %>
          <div class="pull-left noplay-text">
            <span class="lead text-info">Get this party started?</span>
          </div>
          <a class="glyphicon glyphicon-play pull-right" rel="nofollow" data-method="post" href="/parties/<%= @party.id %>/next/"></a>
        <% else %>
          <div class="col-md-12 col-sm-4 col-xs-12">
            <img src="<%= @party.current_song.album_art %>" class="img img-responsive">
            <% if current_user.dj? @party %>
              <% if @party.current_song.source == 'Spotify' %>
                <iframe id="spotify-player" src="https://embed.spotify.com/?uri=<%= @party.current_song.uri %>&theme=white" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe></br>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-12 col-sm-8 col-ms-12">
            <div class="pull-left">
              <span class="lead"><%= @party.current_song.title %></span> <br>
              <strong>Artist: </strong> <%= @party.current_song.artist %> <br>
              <strong>Album: </strong> <%= @party.current_song.album %> <br>
              <i class="small">Via <%= @party.current_song.source %></i> <br>
            </div>
            <div class="pull-right">
              <a class="glyphicon glyphicon-step-forward" rel="nofollow" data-method="post" href="/parties/<%= @party.id %>/next/"></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Playlist</h3>
      </div>

      <ul class="list-group" data-tg-refresh="party-playlist" id="party-playlist">
        <%= render partial: "playlist", locals: {songs: @party.sorted_songs} %>
        <li class="list-group-item">
          <%= render 'songs/form' %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-3 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Listeners</h3>
      </div>
      <ul data-tg-refresh="user-list" id="user-list" class="list-group">
        <% @party.users.each do |user| %>
          <li class="list-group-item" id="<%= "user-list-" + user.nickname.tr(' ', '-') %>">
            <% user = User.find(user.id) %>
            <%= user.nickname %>
            <% if user.dj?(@party) %>
              <span class="glyphicon glyphicon-cd" data-toggle="tooltip" data-placement="right" title="<%= user.nickname %> is the DJ"></span>
            <% end %>
            <% if user.id.equal? current_user.id %>
              <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="right" title="This is you!"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
