<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :title, placeholder: 'Search songs & artists...', class: 'form-control' %>

    <% unless @party.nil? %>
      <%= f.hidden_field :party_id, :value => @party.id %>
    <% end %>

    <span class="actions input-group-btn">
      <%= f.submit value: 'Search', class: 'btn btn-default' %>
    </span>
  </div>
<% end %>
